html{
    font-size: 62.5%;
}

body{
    margin: 0;
    border: 0;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 6rem;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 25rem;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a{
    margin-right: 1rem;
    color: #000;
}

nav .nav-right-section .menu-icon{
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    /* The image will not repeat */
    background-position: center;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
}

nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 1rem;
}

main{
    margin-top: 15rem;
    text-align: center;
}

main .main-logo{
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-logo img{
    width: 50rem;
}

main .main-input{
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-input-container{
    width: 52.5rem;
    border-radius: 10rem;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 45rem;
    height: 4rem;
    border: none;
    outline: none;
}